.main__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e8d9c7;

  .main__inner {
    font-size: 10vw;
    line-height: 0.85;
    font-family: var(--main_font);
    color: #928d65;
    text-transform: uppercase;
  }
}

//애니메이션
.main__inner > div {
  opacity: 0;
  transform: translateY(100px);
}
